<div class="card-layout">
    
    <div class="card" *ngFor="let product of products" style="width: 300px;height: 400px;">
      <div class="img-layout">
        <img  src= {{product.imagePath}} class="card-img-top" alt="...">
      </div>
        <div class="card-body">
          <h5 class="card-title fs-5">{{product.name}}</h5>
          <h5 class="card-title fs-6">{{product.description}}</h5>
          <h5 class="card-title fs-7">{{product.price}}</h5>

          <h5 class="card-title"></h5>
          <a routerLink="/updateproduct/{{product.id}}" class="btn btn-primary btn-space">Update </a>
          <a routerLink="/deleteproduct/{{product.id}}" class="btn btn-primary btn-space">Delete </a>
        </div>
      </div>
</div>
