/* .card{
    border-radius: 2px;
    background-color: brown;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
} */
.card-layout{
    display: grid;
    justify-content: space-around;
    text-align: center;
    grid-template-columns: auto auto auto auto;
}
.img-layout{
    height: 300px;
    width: 250px;
}